{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a> (url semihardcoded)</li>
        {% comment %}  
		<li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a> (url generico)</li>
		{% endcomment %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> (url de polls)</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
